<section 
  class="bg-black text-white text-3xl w-full border-b-primary-green"
  data-header-theme="dark"
>
  <video 
  class="w-full aspect-[20/9] object-cover"
  src="/videos/BolsaValores.mp4"
  autoplay
  loop
  muted
  playsinline></video>  
</section>